@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

</br>
</br>
<h1> Welcome to Soaring High!</h1>
</br>
<p>Soaring High is for those who have a fondness for or are curious about hot air ballooning.</p>