@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    <br />
    Loretta L. Hammond, Administrator<br />
    @*soaringhighadmin@yahoo.com<br />*@
    @*<abbr title="Phone">P:</abbr>
        425.555.0100*@
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:supportsoaringhighadmin@yahoo.com">supportsoaringhighadmin@yahoo.com</a><br />

</address>